<!DOCTYPE html>
<html>

<head>
	<title>Artista</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body>
	<header
		class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom p-3">
		<div class="col-md-3 mb-2 mb-md-0">
			<a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
				<img src="/images/logo-siw.png" width="50%" />
			</a>
		</div>

		<div th:if="${userDetails}" class="col-md-3 text-end">
			<div class="dropdown">
				<button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
					aria-expanded="false" th:text="${userDetails.username}">
				</button>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" th:href="@{'/userDetails' + '/' + ${credenziali.user.id}}"
							th:text="'Informazioni Personali'"></a></li>
					<li><a class="dropdown-item" href="/logout" th:text="'Logout'"></a></li>
				</ul>
			</div>
		</div>
		<div th:unless="${userDetails}" class="col-md-3 text-end">
			<a href="/login"><button type="button" class="btn btn-outline-primary me-2" th:text="'Login'"></button></a>
		</div>
	</header>
	<div class="container my-5">
		<div class="p-5 text-center bg-body-tertiary rounded-3">
			<h1 class="text-body-emphasis" th:text="${artist.nome} + ' ' + ${artist.cognome}"></h1>
			<div class="d-flex justify-content-center mt-3">
				<img th:if="${artist.image}" class="d-block w-25 rounded"
					th:src="@{'data:image/'+${artist.image.getFormat()}+';base64,'+${artist.image.getBase64()}}"
					width="100">
			</div>
			<h3 class="text-body-emphasis m-3"
				th:text="'Data di nascita: ' + ${#dates.format(artist.bornDate, 'dd-MM-yyyy')}"></h3>
			<h3 th:if="${artist.deathDate}" class="text-body-emphasis m-3"
				th:text="'Data di morte: ' + ${#dates.format(artist.deathDate, 'dd-MM-yyyy')}"></h3>
			<div th:if="${artist.directed!=null && !artist.directed.isEmpty()}">
				<h3 class="text-body-emphasis" th:text="'Film che ha diretto:'"></h3>
				<div class="list-group mx-auto" style="width: 30rem;">
					<a th:each="movie : ${artist.directed}" th:href="@{'/movie' + '/' + ${movie.id}}"
						class="list-group-item list-group-item-action" th:text="${movie.title}"></a>
				</div>
			</div>
			<div th:if="${artist.acted!=null && !artist.acted.isEmpty()}">
				<h3 class="text-body-emphasis" th:text="'Film in cui ha recitato:'"></h3>
				<div class="list-group mx-auto" style="width: 30rem;">
					<a th:each="movie : ${artist.acted}" th:href="@{'/movie' + '/' + ${movie.id}}"
						class="list-group-item list-group-item-action" th:text="${movie.title}"></a>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>
</body>

</html>